body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.text-center{
    text-align: center;
}
.banner-section{
    /* width: 1440PX; */
    width: 100%;
    height: 590PX;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    position: relative;
    
}
h1{
   
    text-align: center;
    color:#00b894;
    font-size: 30px;
}
             
.banner-text{
    width: 500px;
    height: auto;
   margin: auto;
   position: absolute;
   top: 200px;
   left: 500px;
   
}
.donate-button{
    text-decoration: none;
    position: absolute;
    left: 150px;
   
    border-radius: 10px;
    background-color: aqua;
    padding: 10px 20px;
    color: white;
}
.details-button{
    text-decoration: none;
    position: absolute;
    left: 600px;
    border-radius: 10px;
    background-color: rgb(225, 40, 56);
    padding: 10px 20px;
    color: white;
}
p{
    color: white;
   
}
h2{
    text-align: center;
    font-size: 35px;
    color: chocolate;
}
/* donation section start  */
.donate-section{
   width: 70%;
   margin: auto;
}
.donate-section p{
    color: black;
}
.donate{
   text-align: center;
   margin-top: 20px;
   display: flex;
   margin-bottom: 40px;
   
 
   
}
.qauter-width{
width: 20%;
height: auto;
margin: 20px;
padding: 20px;
border-radius: 10px;
box-shadow: 20px 10px 30px gray;
}
.qauter-width span{
    font-weight: 400;
    font-size: 30px;
}
#different{
    background-color: antiquewhite;
}
/* plan section start  */
.plan-section{
    margin-top: 80px;
    width: 95%;
    margin-left: 50px;
}
.plan-section-text{
    width: 691px;
    height: 130px;
  margin: auto;
}
.plan-section-text p{
    color: #303952;
    
}
.activities{
    display: flex;
  
  margin-left: 20px;
  padding: 20px;
  
 }
.activity{
    border: 2px solid gainsboro;
    height: 250px;
    border-radius: 15px;
    margin: 5px;
    padding: 30px;
}
.activity p{
    color: rgb(230, 171, 93);
}
#food{
background-color: antiquewhite;

}
#shelter{
    background-color: cadetblue;

}
#education{
    background-color: aquamarine;
   
}
/* footer section  */
footer{
    padding: 30px;
    background-color: black;
}
footer h1{
    text-align: center;
    color: #e66767;
}
footer p{
    text-align: center;
}